<div class="container">
  <div class="row justify-content-center">
    <div class="card col-8 d-flex flex-column mx-auto p-4">
      <div>
        <%= @book.title %>
      </div>
      <div class="pt-2">
        <%= @book.author %>
      </div>
      <div class="pt-2">
        <%= @book.year %>
      </div>
      <div class="pt-4">
        <%= @book.description %>
      </div>
    </div>
  </div>
</div>
