.button {
  border-radius: 20px;
  background-color: #E36166;
  padding: 8px 24px;
  color: white;
  text-decoration: none;
  white-space: nowrap;
  text-align: justify;
}

.button-myclubs {
  border-radius: 20px;
  background-color: #E36166;
  padding: 8px 24px;
  color: white;
  text-decoration: none;
  white-space: nowrap;
  text-align: justify;
  position: absolute;
  top: 72px;
  right: 30px;
}

.button-meet {
  border-radius: 20px;
  background-color: #FDFBF7;
  border: 1px solid #E36166;
  padding: 8px 24px;
  color: black;
  text-decoration: none;
}

.button-secondary {
  border-radius: 20px;
  background-color: #272A34;
  padding: 8px 24px;
  color: white;
  text-decoration: none;
}

.learn-btn {
  color: #E36166;
}

.nav-pills .nav-link.active {
  background-color: #FDFBF7;
  color: #E36166;
}

.nav-pills .nav-link {
  color: #888888;
}
