.button {
  border-radius: 20px;
  background-color: #E36166;
  padding: 8px 24px;
  color: white;
  text-decoration: none;
}

.button-secondary {
  border-radius: 20px;
  background-color: #272A34;
  padding: 8px 24px;
  color: white;
  text-decoration: none;
}

.learn-btn {
  color: #E36166;
}
