.cards-home {
  display: grid;
  grid: 1fr 1fr 1fr;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-text {
  min-height: 25vh;
}

.cards {
  background-color: #f1eee3;
}

.even-color {
  background-color: #fdfbf7;
}

.odd-color {
  background-color: #F1EEE3;
  border-radius: 10px;
}