.cards-home {
  display: grid;
  grid: 1fr 1fr 1fr;
}

.cards {
  background-color: #F1EEE3;
  border-radius: 10px;
}

.even-color {
  background-color: #FDFBF7;
}

.odd-color {
  background-color: #F1EEE3;
}
