.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.join-link {
  color: #E36166
}

.logo {
  height: 40px;
  object-fit: cover;
  object-position: center;
}
