<div class="container mt-5">
      <div class="row">
        <div class="col-10 mx-auto">
          <% @bookclubs.each do |bookclub| %>
            <div class=" cards col-12 border-2 rounded-3 my-3 shadow p-4 alig-items-center">
              <div class="d-flex justify-content-between align-items-center">
                <% if bookclub.photo.attached?%>
                  <%= cl_image_tag bookclub.photo.key, height: 140, width: 140, class: "rounded-circle  shadow" %>
                <% end %>
                <div class="container justify-content-between">
                  <div class="text-start mx-4 ">
                    <h5><strong><%= bookclub.name %></strong></h5>
                  </div>
                  <p class="desc-bookclubs"> <%= bookclub.description %></p>
                </div>
                <div class="button m-5">
                  <%= link_to "Learn more", bookclub_path(bookclub), class: "button" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
