<div class="container mt-5">
  <div class="d-flex justify-content-center mb-4">
    <h1> List of Bookclubs</h1>
  </div>
  <div class="container">
    <div class="row d-flex justify-content-center mb-4">
      <% @bookclubs.each do |bookclub| %>
          <div class=" cards col-10 border-2 rounded-3 my-3 shadow p-4 alig-items-center">
            <div class="d-flex justify-content-between align-items-center">
              <% if bookclub.photo.attached?%>
                <%= cl_image_tag bookclub.photo.key, height: 140, width: 140, class: "rounded-circle  shadow mb-3" %>
              <% end %>
              <div class="content-bookclub m-4">
                <div class="text-start ">
                  <h5><strong><%= bookclub.name %></strong></h5>
                </div>
                  <p> <%= bookclub.description %> </p>
              </div>
              <div class="button">
                Join
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
