
<div class="text-center pt-5">
   <h2><strong>Start Your Club<strong></h2>
</div>
<div class="w-60 my-5 d-flex justify-content-center">
   <div class="card p-4">
      <%= simple_form_for(@bookclub) do |f| %>
      <%= f.input :name, placeholder: 'Club Name' %>
      <%= f.input :genre, collection: ['Art', 'Classics', 'Fiction', 'Memoir', 'Biography', 'Comics', 'Graphic Novels','Music', 'Romance', 'Thriller', 'Historical Fiction', 'Mystery', 'Science', 'History', 'Science Fiction', 'Fantasy', 'Horror', 'Poetry' ] %>
      <div class="d-flex justify-content-around">
         <%= f.submit "Start Now", class: "button btn btn-light"%>
      </div>
      <% end %>
   </div>
</div>
